.container {
    display: flex;
    justify-content: center;
}

.error {
    margin: 0;
    color: red;
    margin: 0;
    padding: 0;
    font-size: 10px;
    margin-bottom: 5px;
}

.button-auth {
    box-sizing: border-box;
    background: rgba(118, 133, 219, 0.21);
    border: 1px solid rgba(2, 5, 22, 0.21);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    border-radius: 8px;
    padding: 6px 10px;
}

.login {
    box-sizing: border-box;
    width: 370px;
    height: 169px;
    background: #FFFFFF;
    border: 1px solid rgba(35, 44, 94, 0.21);
    box-shadow: 0px 6px 25px rgba(19, 35, 68, 0.1);
    border-radius: 8px;
    height: auto;
    padding-bottom: 10px;
    &__inner {
        padding-top: 38px;
        padding-left: 30px;

        &-title {
            width: 121.6px;
            height: 19px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #5E5E5E;
            margin-bottom: 6px;
        }

        &-auth {
            box-sizing: border-box;
            width: 309.72px;
            height: 54px;
            background: #FFFFFF;
            border: 1px solid #232C5E;
            border-radius: 8px;
            outline: none;
            padding-left: 18px;
            margin-bottom: 8px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
        }
    }
}